.rz-gauge,
.rz-arc-gauge {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
}

.rz-gauge .rz-line,
.rz-gauge .rz-tick {
  stroke: var(--rz-gauge-scale-color);
}
.rz-gauge .rz-tick-text {
  font-size: var(--rz-gauge-scale-font-size);
  fill: var(--rz-gauge-scale-label-color);
}

.rz-arc-gauge .rz-line,
.rz-arc-gauge .rz-tick {
  stroke: var(--rz-gauge-arc-scale-color);
}
.rz-arc-gauge .rz-tick-text {
  font-size: var(--rz-gauge-scale-font-size);
  fill: var(--rz-gauge-arc-scale-label-color);
}

.rz-gauge-value {
  position: absolute;
  transform: translateX(-50%);
  padding: 0.5rem;
}

.rz-arc-gauge-value {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
}

.rz-gauge-pointer {
  fill: var(--rz-gauge-pointer-color);
}

.rz-arc-gauge-scale-value {
  fill: var(--rz-gauge-arc-value-color);
}

.rz-arc-gauge-scale {
  fill: var(--rz-gauge-arc-scale-color);
}
