.rz-notification {
  box-sizing: border-box;
  position: fixed;
  z-index: 1002;
  inset-block-start: 100px;
  inset-inline-end: 1rem;
}

.rz-notification-item-wrapper {
  position: static;
  width: 250px;
  min-width: 20rem;
  background-color: var(--rz-notification-container-background-color);
  margin: 1rem 0;
}

.rz-notification-item {
  display: flex;
  align-items: flex-start;
  gap: var(--rz-notification-gap);
  border-radius: var(--rz-notification-border-radius);
  box-shadow: var(--rz-notification-shadow);
  padding: var(--rz-notification-padding);
}
.rz-notification-success .rz-notification-item {
  color: var(--rz-notification-success-color);
  background-color: var(--rz-notification-success-background-color);
}
.rz-notification-warn .rz-notification-item {
  color: var(--rz-notification-warning-color);
  background-color: var(--rz-notification-warning-background-color);
}
.rz-notification-error .rz-notification-item {
  color: var(--rz-notification-error-color);
  background-color: var(--rz-notification-error-background-color);
}
.rz-notification-info .rz-notification-item {
  color: var(--rz-notification-info-color);
  background-color: var(--rz-notification-info-background-color);
}

.rz-notification-message-wrapper {
  flex: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--rz-notification-gap);
}

.rz-notification-message {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rz-notification-title {
  font-weight: bold;
}

.rz-notification-icon {
  margin: var(--rz-notification-icon-margin);
}
.rz-notification-icon.rzi-check {
  color: var(--rz-notification-success-icon-color);
}
.rz-notification-icon.rzi-check:before {
  content: "check";
}
.rz-notification-icon.rzi-exclamation-triangle {
  color: var(--rz-notification-warning-icon-color);
}
.rz-notification-icon.rzi-exclamation-triangle:before {
  content: "warning";
}
.rz-notification-icon.rzi-info-circle {
  color: var(--rz-notification-info-icon-color);
}
.rz-notification-icon.rzi-info-circle:before {
  content: "info";
}
.rz-notification-icon.rzi-times {
  color: var(--rz-notification-error-icon-color);
}
.rz-notification-icon.rzi-times:before {
  content: "error";
}

.rz-notification-close {
  cursor: pointer;
  opacity: 0.75;
}
.rz-notification-close:before {
  content: "close";
}
