.rz-panel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--rz-panel-padding);
  background: var(--rz-panel-background-color);
  border-radius: var(--rz-panel-border-radius);
  box-shadow: var(--rz-panel-shadow);
}

.rz-panel-titlebar {
  display: flex;
  justify-content: space-between;
}

.rz-panel-content {
  margin: var(--rz-panel-content-margin);
}

.rz-panel-content-wrapper[aria-hidden=true] {
  display: none;
}

.rz-panel-title {
  line-height: var(--rz-panel-title-line-height);
  font-weight: var(--rz-panel-title-font-weight);
}

.rz-panel-titlebar-toggler {
  width: var(--rz-panel-toggle-icon-width);
  height: var(--rz-panel-toggle-icon-height);
  font-size: var(--rz-panel-toggle-icon-font-size);
  border-radius: var(--rz-panel-toggle-icon-border-radius);
  background-color: var(--rz-panel-toggle-icon-background-color);
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.rz-panel-titlebar-toggler:hover {
  text-decoration: none;
  color: var(--rz-panel-hover-color);
}
.rz-panel-titlebar-toggler:focus {
  outline: var(--rz-outline-normal);
}
.rz-panel-titlebar-toggler:focus-visible {
  outline: var(--rz-panel-toggle-icon-focus-outline);
  outline-offset: var(--rz-panel-toggle-icon-focus-outline-offset);
}
.rz-panel-titlebar-toggler .rzi-minus:before {
  content: "remove";
}
.rz-panel-titlebar-toggler .rzi-plus:before {
  content: "add";
}
