.rz-radio-button-list-vertical {
  box-sizing: border-box;
}
.rz-radio-button-list-vertical .rz-radio-btn {
  display: flex;
  margin-block: var(--rz-radio-margin-block);
  margin-inline: var(--rz-radio-margin-inline);
  align-items: center;
}

.rz-radio-button-list-horizontal {
  box-sizing: border-box;
}
.rz-radio-button-list-horizontal .rz-radio-btn {
  display: inline-flex;
  align-items: center;
}

.rz-state-disabled .rz-radiobutton {
  cursor: initial;
}

.rz-radiobutton-label,
.rz-radiobutton-template {
  margin-block: var(--rz-radio-label-margin-block);
  margin-inline: var(--rz-radio-label-margin-inline);
}

.rz-radiobutton {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  width: var(--rz-radio-width);
  height: var(--rz-radio-height);
  border-radius: var(--rz-radio-border-radius);
}
.rz-radiobutton:focus {
  outline: var(--rz-outline-normal);
}
.rz-radiobutton:focus-visible {
  outline: var(--rz-radio-focus-outline);
  outline-offset: var(--rz-radio-focus-outline-offset);
}

.rz-radiobutton-box {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  border: var(--rz-input-border);
  border-width: var(--rz-radio-border-width);
  border-radius: var(--rz-radio-border-radius);
  box-shadow: var(--rz-input-shadow);
  background-color: var(--rz-input-background-color);
  transition: var(--rz-transition-all);
}
.rz-radiobutton-box:hover:not(.rz-state-disabled) {
  border-width: var(--rz-radio-border-width);
}
.rz-radiobutton-box:active:not(.rz-state-disabled) {
  background-color: var(--rz-radio-active-background-color);
  box-shadow: var(--rz-radio-active-shadow);
  border-width: var(--rz-radio-border-width);
}
.rz-radiobutton-box.rz-state-disabled {
  cursor: initial;
  box-shadow: var(--rz-input-disabled-shadow);
  background-color: var(--rz-input-disabled-background-color);
  border: var(--rz-input-disabled-border);
  border-width: var(--rz-radio-border-width);
  opacity: var(--rz-input-disabled-opacity);
}
.rz-radiobutton-box .rzi {
  width: var(--rz-radio-icon-width);
  height: var(--rz-radio-icon-height);
  color: var(--rz-radio-checked-color);
}
.rz-radiobutton-box .rzi-circle-on {
  border-radius: var(--rz-radio-border-radius);
  vertical-align: middle;
  background-color: var(--rz-radio-circle-background-color);
  box-shadow: var(--rz-radio-circle-shadow);
}
.rz-radiobutton-box .rzi-circle-on:hover:not(.rz-state-disabled) {
  background-color: var(--rz-radio-circle-hover-background-color);
}
.rz-radiobutton-box.rz-state-active {
  background-color: var(--rz-radio-checked-background-color);
  border: var(--rz-radio-checked-border);
  border-width: var(--rz-radio-border-width);
}
.rz-radiobutton-box.rz-state-active:hover:not(.rz-state-disabled) {
  background-color: var(--rz-radio-checked-hover-background-color);
  border: var(--rz-radio-checked-border);
  box-shadow: var(--rz-radio-checked-hover-shadow);
  border-width: var(--rz-radio-border-width);
}
.rz-radiobutton-box.rz-state-active.rz-state-disabled {
  background-color: var(--rz-radio-checked-background-color);
  border: var(--rz-radio-checked-border);
  border-width: var(--rz-radio-border-width);
  opacity: 0.5;
}
