.rz-steps {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.rz-steps .rz-widget-content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.rz-steps ul {
  list-style: none;
  padding: 0;
}
.rz-steps .rz-menuitem-link {
  display: inline-flex;
  align-items: center;
  color: var(--rz-steps-color);
  cursor: pointer;
  text-decoration: none;
}
.rz-steps .rz-menuitem-link:hover {
  text-decoration: none;
  color: var(--rz-steps-title-selected-color) !important;
}
.rz-steps .rz-state-disabled .rz-menuitem-link {
  color: var(--rz-text-disabled-color);
  cursor: default;
}
.rz-steps .rz-state-disabled .rz-menuitem-link:hover {
  color: var(--rz-text-disabled-color) !important;
}
.rz-steps .rz-state-highlight .rz-steps-title {
  color: var(--rz-steps-title-selected-color);
}
.rz-steps .rz-state-highlight .rz-steps-number {
  background: var(--rz-steps-number-selected-background);
  color: var(--rz-steps-number-selected-color);
}

.rz-steps-item {
  display: inline-block;
}
.rz-steps-item:focus {
  outline: var(--rz-outline-normal);
}
.rz-steps-item:focus-visible {
  outline: var(--rz-outline-normal);
}
.rz-steps-item:focus-visible .rz-steps-number {
  outline: var(--rz-steps-number-focus-outline);
  outline-offset: var(--rz-steps-number-focus-outline-offset);
}

.rz-steps-title {
  margin-block: var(--rz-steps-title-margin-block);
  margin-inline: var(--rz-steps-title-margin-inline);
}

.rz-steps-number {
  text-align: center;
  line-height: var(--rz-steps-number-line-height);
  color: var(--rz-steps-number-color);
  padding-block: var(--rz-steps-number-padding-block);
  padding-inline: var(--rz-steps-number-padding-inline);
  width: var(--rz-steps-number-width);
  height: var(--rz-steps-number-height);
  background-color: var(--rz-steps-number-background-color);
  border-radius: var(--rz-steps-number-border-radius);
}

.rz-steps-buttons {
  display: flex;
  justify-content: space-between;
  padding-block: var(--rz-steps-buttons-padding-block);
  padding-inline: var(--rz-steps-buttons-padding-inline);
}

.rz-steps-next,
.rz-steps-prev {
  display: inline-flex;
  align-items: center;
  color: var(--rz-steps-button-color) !important;
  text-decoration: none;
}
.rz-steps-next:not(.rz-state-disabled):hover,
.rz-steps-prev:not(.rz-state-disabled):hover {
  cursor: pointer;
  color: var(--rz-steps-title-selected-color) !important;
}
.rz-steps-next:hover,
.rz-steps-prev:hover {
  text-decoration: none;
}
.rz-steps-next.rz-state-disabled,
.rz-steps-prev.rz-state-disabled {
  opacity: 0.5 !important;
}

.rz-steps-prev .rzi:before {
  content: "navigate_before";
}

.rz-steps-next .rzi:before {
  content: "navigate_next";
}

*[dir=rtl] .rz-steps-prev .rzi:before {
  content: "navigate_next";
}
*[dir=rtl] .rz-steps-next .rzi:before {
  content: "navigate_before";
}
